In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName("Read CSV Example") \
.getOrCreate()

In [4]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: long (nullable = true)
 |-- delivery_time_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

#SECTION A — CSV

Exercise 1

Write the full dataset to CSV with header enabled. Output: orders_csv/

In [6]:
df.write \
.mode("overwrite") \
.option("header", True) \
.csv("/content/orders.csv")

orders_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/orders.csv")

Exercise 2

Read the CSV back and filter:
order_amount > 700

In [7]:
df.write \
.mode("overwrite") \
.option("header", True) \
.csv("/content/orders.csv")

orders_csv_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/orders.csv")

filtered_df = orders_csv_df.filter("order_amount > 700")
filtered_df.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

Exercise 3

From CSV, show only:
order_id
city
cuisine
order_amount

In [8]:
orders_csv_df.select("order_id", "city", "cuisine", "order_amount").show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O021|Hyderabad| Italian|         720|
|    O022|  Chennai|Japanese|        1150|
|    O023|Bangalore| Italian|         680|
|    O024|   Mumbai| Chinese|         610|
|    O025|    Delhi|American|         500|
|    O026|Hyderabad|  Indian|         410|
|    O027|Bangalore| Italian|         760|
|    O028|   Mumbai|  Indian|        1550|
|    O029|  Chennai| Mexican|         590|
|    O030|    Delhi| Chinese|         630|
|    O031|Hyderabad|American|         520|
|    O032|Bangalore|  Indian|         450|
|    O033|   Mumbai| Italian|         810|
|    O034|  Chennai| Italian|         700|
|    O035|    Delhi|  Indian|        1480|
|    O036|Hyderabad| Chinese|         580|
|    O037|Bangalore| Mexican|         560|
|    O038|   Mumbai|Japanese|        1180|
|    O039|  Chennai|American|         490|
|    O040|    Delhi|  Indian|         420|
+--------+---------+--------+------------+
only showing top 20 rows

Exercise 4

Sort orders by delivery_time_minutes descending and write result to CSV.

In [9]:
sorted_df = df.orderBy("delivery_time_minutes", ascending = False)
print(sorted_df)

DataFrame[order_id: string, customer_name: string, city: string, restaurant: string, cuisine: string, order_amount: bigint, delivery_time_minutes: bigint, payment_mode: string, order_status: string]

In [10]:
sorted_df.write \
.mode("overwrite") \
.option("header", True) \
.csv("/content/sorted_orders.csv")

#SECTION B — JSON

Exercise 5

Write only “Delivered” orders to JSON.
Output:
delivered_orders_json/

In [11]:
orders_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/orders.csv")

In [12]:
delivered_orders_df = orders_df.filter("order_status = 'Delivered'")
delivered_orders_df.write \
.mode("overwrite") \
.json("/content/delivered_orders.json")
delivered_orders_df.show()

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O025|       Ritika|    Delhi| Burger Zone|American|         500|                   30|        Cash|   Delivered|
|    O026|        Gopal|Hyderabad|  Curry Leaf|  Indian|         410|                   28|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O029|        Sahil|  Chennai|   Taco Bell| Mexican|         590|                   37|         UPI|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O031|       Deepak|Hyderabad| Burger Zone|American|         520|                   33|        Cash|   Delivered|
|    O032|       Shweta|Bangalore|  Curry Leaf|  Indian|         450|                   31|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O036|      Pallavi|Hyderabad| Dragon Bowl| Chinese|         580|                   36|      Wallet|   Delivered|
|    O037|       Naveen|Bangalore|   Taco Bell| Mexican|         560|                   34|         UPI|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O039|       Harish|  Chennai| Burger Zone|American|         490|                   29|        Cash|   Delivered|
|    O040|        Kriti|    Delhi|  Curry Leaf|  Indian|         420|                   26|         UPI|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

Exercise 6

Read JSON and filter:
city = "Mumbai"
payment_mode = "Card"

In [13]:
orders_json_df = spark.read.json("/content/delivered_orders.json")
filtered_df = orders_json_df.filter((orders_json_df.city == "Mumbai") &
                                    (orders_json_df.payment_mode == "Card"))
filtered_df.show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

Exercise 7

Add a column:
delivery_category
Logic:
delivery_time_minutes > 45 → "Late"
else → "OnTime"
Write output to JSON.

In [14]:
from pyspark.sql.functions import when

final_df = filtered_df.withColumn("delivery_category",
                                        when(filtered_df.delivery_time_minutes > 45, "Late")
                                        .otherwise("OnTime"))
final_df.show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+-----------------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|delivery_category|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+-----------------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|             Late|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|             Late|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|             Late|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|             Late|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+-----------------+

Exercise 8

Force JSON output to a single partition and observe number of files created.

In [15]:
final_df.coalesce(1).write \
.mode("overwrite") \
.json("orders_single_partition_json")

#SECTION C — PARQUET

Exercise 9

Convert full dataset to Parquet.
Output:
orders_parquet/

In [16]:
orders_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/orders.csv")
orders_df.write \
.mode("overwrite") \
.parquet("/content/orders.parquet")

Exercise 10

Read Parquet and filter:
cuisine = "Indian"
order_amount > 500

In [17]:
orders_parquet_df = spark.read.parquet("/content/orders.parquet")
filtered_parquet_df = orders_parquet_df.filter((orders_parquet_df.cuisine == "Indian") &
                                                (orders_parquet_df.order_amount > 500))
filtered_parquet_df.show()

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant|cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|    O009|        Vikas|   Mumbai|   BBQ Nation| Indian|        1500|                   60|        Card|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House| Indian|         520|                   36|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation| Indian|        1400|                   62|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|   BBQ Nation| Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|   BBQ Nation| Indian|        1480|                   63|        Card|   Delivered|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+

Exercise 11

Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [18]:
top_10_orders_df = orders_parquet_df.orderBy(orders_parquet_df.order_amount.desc()).limit(10)
top_10_orders_df.write \
.mode("overwrite") \
.parquet("/content/top_10_orders.parquet")

Exercise 12

Compare storage size of:
CSV
JSON
Parquet
Answer:
Which is smallest?
Why?

In [19]:
! du -sh /content/orders.csv

24K	/content/orders.csv

In [20]:
! du -sh orders_single_partition_json

16K	orders_single_partition_json

In [21]:
! du -sh /content/orders.parquet

24K	/content/orders.parquet

Answer: Parquet is small as it occupies less storage as it is a binary, columnar format with built-in compression and efficient encoding.

#SECTION D — FORMAT CONVERSION

Exercise 13

Convert:
CSV → Parquet
JSON → Parquet

In [22]:
csv_df = spark.read \
.option("header", True) \
.option("inferSchema", True) \
.csv("/content/orders.csv")
csv_df.write \
.mode("overwrite") \
.parquet("csv_to_parquet/")

Exercise 14

Read Parquet and write it back as CSV using delimiter | .

In [23]:
json_df = spark.read.json("/content/delivered_orders.json")
json_df.write \
.mode("overwrite") \
.option("header", True) \
.option("delimiter", "|") \
.csv("orders_csv_pipe_delimiter/")

#THINKING / ANALYTICS QUESTIONS

Exercise 15

Which cuisine generates the highest order_amount overall?

In [24]:
from pyspark.sql.functions import sum
orders_df.groupBy("cuisine") \
.agg(sum("order_amount").alias("total_order_amount")) \
.orderBy("total_order_amount", ascending = False) \
.show(1)

+-------+------------------+
|cuisine|total_order_amount|
+-------+------------------+
| Indian|              9370|
+-------+------------------+
only showing top 1 row

Exercise 16

Which city has the highest number of orders?

In [25]:
from pyspark.sql.functions import count
orders_df.groupBy("city") \
.agg(count("*").alias("order_count")) \
.orderBy("order_count", ascending = False) \
.show(1)

+-----+-----------+
| city|order_count|
+-----+-----------+
|Delhi|          9|
+-----+-----------+
only showing top 1 row

Exercise 17

Which payment mode is most frequently used?

In [26]:
orders_df.groupBy("payment_mode") \
.count() \
.orderBy("count", ascending = False) \
.show(1)

+------------+-----+
|payment_mode|count|
+------------+-----+
|         UPI|   17|
+------------+-----+
only showing top 1 row

Exercise 18

Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?

Answer: Columnar Storage, high compression, efficient encoding

#OPTIONAL CHALLENGE

Challenge 1
Repartition the dataset into 4 partitions and write to Parquet.

In [27]:
orders_df.repartition(4) \
.write \
.mode("overwrite") \
.parquet("/content/orders_4_partitions.parquet")

Challenge 2
Create a report dataset containing:
city
total_orders
total_revenue
Write it to Parquet.

In [28]:
from pyspark.sql.functions import count, sum
city_report_df = orders_df.groupBy("city") \
.agg(count("*").alias("total_orders"),
     sum("order_amount").alias("total_revenue"))