In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.appName('retail order management systems')\
.config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.5.0")\
.getOrCreate()

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
raw_orders = [
    ("ORD001","C001","Ravi"," Delhi ","Laptop","Electronics","45000","2024-01-05","Completed"),
    ("ORD002","C002","Sneha","Mumbai"," Mobile ","Electronics","32000","05/01/2024","Completed"),
    ("ORD003","C003","Aman","Bangalore","Laptop","Electronics","55000","2024/01/06","Completed"),
    ("ORD004","C004","Pooja","Delhi","Tablet"," Electronics ","","2024-01-07","Cancelled"),
    ("ORD005","C005","Neha","Chennai","Laptop","Electronics","48000","invalid_date","Completed"),
    ("ORD006","C006","Rahul","Mumbai","Mobile","Electronics",None,"2024-01-08","Completed"),
    ("ORD007","C007","Kiran","Bangalore","Tablet","Electronics","30000","2024-01-08","Completed"),
    ("ORD008","C008","Amit","Delhi","Laptop","electronics","45000","2024-01-09","Completed"),
    ("ORD009","C009","Priya"," Pune","Mobile","Electronics","28000","09-01-2024","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),
    ("ORD010","C010","Suresh","Mumbai","Laptop","Electronics","55000","2024-01-10","Completed"),  # duplicate
    ("ORD011","C011","Meena","Chennai","Tablet","Electronics","31000","2024-01-11","Completed"),
    ("ORD012","C012","Arjun","Delhi","Mobile","Electronics","27000","2024/01/11","Completed"),
    ("ORD013","C013","Nikhil","Bangalore","Laptop","Electronics","60000","2024-01-12","Completed"),
    ("ORD014","C014","Rohit","Mumbai","Mobile","Electronics","invalid_price","2024-01-12","Completed"),
    ("ORD015","C015","Anita","Delhi","Tablet","Electronics","29000","2024-01-13","Completed"),
    ("ORD016","C016","Vikas","Chennai","Laptop","Electronics","52000","2024-01-13","Completed"),
    ("ORD017","C017","Sunita","Mumbai","Mobile","Electronics","33000","2024-01-14","Completed"),
    ("ORD018","C018","Deepak","Bangalore","Laptop","Electronics","58000","2024-01-14","Completed"),
    ("ORD019","C019","Pallavi","Delhi","Mobile","Electronics","26000","2024-01-15","Completed"),
    ("ORD020","C020","Manish","Mumbai","Tablet","Electronics","34000","2024-01-15","Completed")
]
columns = ["order_id", "customer_id", "name", "city", "product", "category", "price", "order_date", "order_status"]
raw_df = spark.createDataFrame(data=raw_orders, schema=columns)
raw_df.show()

+--------+-----------+-------+---------+--------+-------------+-------------+------------+------------+
|order_id|customer_id|   name|     city| product|     category|        price|  order_date|order_status|
+--------+-----------+-------+---------+--------+-------------+-------------+------------+------------+
|  ORD001|       C001|   Ravi|   Delhi |  Laptop|  Electronics|        45000|  2024-01-05|   Completed|
|  ORD002|       C002|  Sneha|   Mumbai| Mobile |  Electronics|        32000|  05/01/2024|   Completed|
|  ORD003|       C003|   Aman|Bangalore|  Laptop|  Electronics|        55000|  2024/01/06|   Completed|
|  ORD004|       C004|  Pooja|    Delhi|  Tablet| Electronics |             |  2024-01-07|   Cancelled|
|  ORD005|       C005|   Neha|  Chennai|  Laptop|  Electronics|        48000|invalid_date|   Completed|
|  ORD006|       C006|  Rahul|   Mumbai|  Mobile|  Electronics|         NULL|  2024-01-08|   Completed|
|  ORD007|       C007|  Kiran|Bangalore|  Tablet|  Electronics|        30000|  2024-01-08|   Completed|
|  ORD008|       C008|   Amit|    Delhi|  Laptop|  electronics|        45000|  2024-01-09|   Completed|
|  ORD009|       C009|  Priya|     Pune|  Mobile|  Electronics|        28000|  09-01-2024|   Completed|
|  ORD010|       C010| Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD010|       C010| Suresh|   Mumbai|  Laptop|  Electronics|        55000|  2024-01-10|   Completed|
|  ORD011|       C011|  Meena|  Chennai|  Tablet|  Electronics|        31000|  2024-01-11|   Completed|
|  ORD012|       C012|  Arjun|    Delhi|  Mobile|  Electronics|        27000|  2024/01/11|   Completed|
|  ORD013|       C013| Nikhil|Bangalore|  Laptop|  Electronics|        60000|  2024-01-12|   Completed|
|  ORD014|       C014|  Rohit|   Mumbai|  Mobile|  Electronics|invalid_price|  2024-01-12|   Completed|
|  ORD015|       C015|  Anita|    Delhi|  Tablet|  Electronics|        29000|  2024-01-13|   Completed|
|  ORD016|       C016|  Vikas|  Chennai|  Laptop|  Electronics|        52000|  2024-01-13|   Completed|
|  ORD017|       C017| Sunita|   Mumbai|  Mobile|  Electronics|        33000|  2024-01-14|   Completed|
|  ORD018|       C018| Deepak|Bangalore|  Laptop|  Electronics|        58000|  2024-01-14|   Completed|
|  ORD019|       C019|Pallavi|    Delhi|  Mobile|  Electronics|        26000|  2024-01-15|   Completed|
+--------+-----------+-------+---------+--------+-------------+-------------+------------+------------+
only showing top 20 rows

#CLEANING & TRANSFORMATION TASKS (FOR STUDENTS)

1. Rename all columns to snake_case

In [4]:
import re

def to_snake_case(name):
    name = re.sub(r'\s+', '_', name)
    name = re.sub(r'(?<!^)(?=[A-Z])', '_', name).lower()
    return name

old_columns = raw_df.columns

new_columns = [to_snake_case(col_name) for col_name in old_columns]

df = raw_df
for old_name, new_name in zip(old_columns, new_columns):
    df = df.withColumnRenamed(old_name, new_name)

df.printSchema()
df.show(5)

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)

+--------+-----------+-----+---------+--------+-------------+-----+------------+------------+
|order_id|customer_id| name|     city| product|     category|price|  order_date|order_status|
+--------+-----------+-----+---------+--------+-------------+-----+------------+------------+
|  ORD001|       C001| Ravi|   Delhi |  Laptop|  Electronics|45000|  2024-01-05|   Completed|
|  ORD002|       C002|Sneha|   Mumbai| Mobile |  Electronics|32000|  05/01/2024|   Completed|
|  ORD003|       C003| Aman|Bangalore|  Laptop|  Electronics|55000|  2024/01/06|   Completed|
|  ORD004|       C004|Pooja|    Delhi|  Tablet| Electronics |     |  2024-01-07|   Cancelled|
|  ORD005|       C005| Neha|  Chennai|  Laptop|  Electronics|48000|invalid_date|   Completed|
+--------+-----------+-----+---------+--------+-------------+-----+------------+------------+
only showing top 5 rows

2. Add a column price_with_tax (18%)

In [5]:
from pyspark.sql.functions import when, col
from pyspark.sql.types import DoubleType

df = df.withColumn("price",
                 when(col("price").rlike("^[0-9]+$"),col("price").cast(DoubleType())).otherwise(None))

if "price_with_tax" in df.columns:
    df = df.drop("price_with_tax")

df = df.withColumn("price_with_tax", col("price") * 1.18)

df.show(5)

+--------+-----------+-----+---------+--------+-------------+-------+------------+------------+--------------+
|order_id|customer_id| name|     city| product|     category|  price|  order_date|order_status|price_with_tax|
+--------+-----------+-----+---------+--------+-------------+-------+------------+------------+--------------+
|  ORD001|       C001| Ravi|   Delhi |  Laptop|  Electronics|45000.0|  2024-01-05|   Completed|       53100.0|
|  ORD002|       C002|Sneha|   Mumbai| Mobile |  Electronics|32000.0|  05/01/2024|   Completed|       37760.0|
|  ORD003|       C003| Aman|Bangalore|  Laptop|  Electronics|55000.0|  2024/01/06|   Completed|       64900.0|
|  ORD004|       C004|Pooja|    Delhi|  Tablet| Electronics |   NULL|  2024-01-07|   Cancelled|          NULL|
|  ORD005|       C005| Neha|  Chennai|  Laptop|  Electronics|48000.0|invalid_date|   Completed|       56640.0|
+--------+-----------+-----+---------+--------+-------------+-------+------------+------------+--------------+
only showing top 5 rows

3. Add a column price_category (Low / Medium / High)

In [6]:
df=df.withColumn("price_category",
                 when(col("price")<30000,"Low")
                 .when(col("price").between(30000,50000),"Medium")
                 .otherwise("High")
                 )
df.show()

+--------+-----------+-------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
|order_id|customer_id|   name|     city| product|     category|  price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|   Delhi |  Laptop|  Electronics|45000.0|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   Mumbai| Mobile |  Electronics|32000.0|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|Bangalore|  Laptop|  Electronics|55000.0|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|  Pooja|    Delhi|  Tablet| Electronics |   NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|   Neha|  Chennai|  Laptop|  Electronics|48000.0|invalid_date|   Completed|       56640.0|        Medium|
|  ORD006|       C006|  Rahul|   Mumbai|  Mobile|  Electronics|   NULL|  2024-01-08|   Completed|          NULL|          High|
|  ORD007|       C007|  Kiran|Bangalore|  Tablet|  Electronics|30000.0|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    Delhi|  Laptop|  electronics|45000.0|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     Pune|  Mobile|  Electronics|28000.0|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   Mumbai|  Laptop|  Electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010| Suresh|   Mumbai|  Laptop|  Electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  Chennai|  Tablet|  Electronics|31000.0|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    Delhi|  Mobile|  Electronics|27000.0|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|Bangalore|  Laptop|  Electronics|60000.0|  2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|  Rohit|   Mumbai|  Mobile|  Electronics|   NULL|  2024-01-12|   Completed|          NULL|          High|
|  ORD015|       C015|  Anita|    Delhi|  Tablet|  Electronics|29000.0|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  Chennai|  Laptop|  Electronics|52000.0|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   Mumbai|  Mobile|  Electronics|33000.0|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|Bangalore|  Laptop|  Electronics|58000.0|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    Delhi|  Mobile|  Electronics|26000.0|  2024-01-15|   Completed|       30680.0|           Low|
+--------+-----------+-------+---------+--------+-------------+-------+------------+------------+--------------+--------------+
only showing top 20 rows

#Data Cleaning

4. Trim and standardize city , product , category

In [7]:
df = (df
      .withColumn("city", trim(lower(col("city"))))
      .withColumn("product", trim(lower(col("product"))))
      .withColumn("category", trim(lower(col("category"))))
)
df.show()

+--------+-----------+-------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
|order_id|customer_id|   name|     city|product|   category|  price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000.0|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000.0|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000.0|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|  Pooja|    delhi| tablet|electronics|   NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|   Neha|  chennai| laptop|electronics|48000.0|invalid_date|   Completed|       56640.0|        Medium|
|  ORD006|       C006|  Rahul|   mumbai| mobile|electronics|   NULL|  2024-01-08|   Completed|          NULL|          High|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000.0|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000.0|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000.0|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000.0|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000.0|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000.0|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000.0|  2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|  Rohit|   mumbai| mobile|electronics|   NULL|  2024-01-12|   Completed|          NULL|          High|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000.0|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000.0|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000.0|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000.0|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000.0|  2024-01-15|   Completed|       30680.0|           Low|
+--------+-----------+-------+---------+-------+-----------+-------+------------+------------+--------------+--------------+
only showing top 20 rows

5. Convert price to integer

In [8]:
df = df.withColumn("price", col("price").cast(IntegerType()))
df.show()

+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|order_id|customer_id|   name|     city|product|   category|price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|  2024/01/06|   Completed|       64900.0|          High|
|  ORD004|       C004|  Pooja|    delhi| tablet|electronics| NULL|  2024-01-07|   Cancelled|          NULL|          High|
|  ORD005|       C005|   Neha|  chennai| laptop|electronics|48000|invalid_date|   Completed|       56640.0|        Medium|
|  ORD006|       C006|  Rahul|   mumbai| mobile|electronics| NULL|  2024-01-08|   Completed|          NULL|          High|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|  2024-01-12|   Completed|       70800.0|          High|
|  ORD014|       C014|  Rohit|   mumbai| mobile|electronics| NULL|  2024-01-12|   Completed|          NULL|          High|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|  2024-01-15|   Completed|       30680.0|           Low|
+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
only showing top 20 rows

6. Handle invalid and null prices

In [9]:
df = df.filter(col("price").isNotNull())
df.show()

+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|order_id|customer_id|   name|     city|product|   category|price|  order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|  2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|  05/01/2024|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|  2024/01/06|   Completed|       64900.0|          High|
|  ORD005|       C005|   Neha|  chennai| laptop|electronics|48000|invalid_date|   Completed|       56640.0|        Medium|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|  2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|  2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|  09-01-2024|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|  2024-01-10|   Completed|       64900.0|          High|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|  2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|  2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|  2024/01/11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|  2024-01-12|   Completed|       70800.0|          High|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|  2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|  2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|  2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|  2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|  2024-01-15|   Completed|       30680.0|           Low|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|  2024-01-15|   Completed|       40120.0|        Medium|
+--------+-----------+-------+---------+-------+-----------+-----+------------+------------+--------------+--------------+

7. Normalize all dates into DateType

In [10]:
from pyspark.sql.functions import col, coalesce, try_to_timestamp, trim, regexp_replace, lit
from pyspark.sql.types import DateType

# Introduce a temporary Column expression for standardized date strings (replacing slashes/dots with hyphens)
temp_order_date_str = regexp_replace(trim(col("order_date").cast("string")), r"[./]", "-")

df = df.withColumn(
    "order_date",
    coalesce(
        try_to_timestamp(temp_order_date_str, lit("yyyy-MM-dd")),
        try_to_timestamp(temp_order_date_str, lit("dd-MM-yyyy")),
        try_to_timestamp(temp_order_date_str, lit("MM-dd-yyyy"))
    ).cast(DateType()) # Cast the final result to DateType
)

# Optional: Filter out rows where date parsing failed (order_date is NULL)
df = df.filter(col("order_date").isNotNull())

df.show(truncate=False)
df.printSchema()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|name   |city     |product|category   |price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|ORD001  |C001       |Ravi   |delhi    |laptop |electronics|45000|2024-01-05|Completed   |53100.0       |Medium        |
|ORD002  |C002       |Sneha  |mumbai   |mobile |electronics|32000|2024-01-05|Completed   |37760.0       |Medium        |
|ORD003  |C003       |Aman   |bangalore|laptop |electronics|55000|2024-01-06|Completed   |64900.0       |High          |
|ORD007  |C007       |Kiran  |bangalore|tablet |electronics|30000|2024-01-08|Completed   |35400.0       |Medium        |
|ORD008  |C008       |Amit   |delhi    |laptop |electronics|45000|2024-01-09|Completed   |53100.0       |Medium        |
|ORD009  |C009       |Priya  |pune     |mobile |electronics|28000|2024-01-09|Completed   |33040.0       |Low           |
|ORD010  |C010       |Suresh |mumbai   |laptop |electronics|55000|2024-01-10|Completed   |64900.0       |High          |
|ORD010  |C010       |Suresh |mumbai   |laptop |electronics|55000|2024-01-10|Completed   |64900.0       |High          |
|ORD011  |C011       |Meena  |chennai  |tablet |electronics|31000|2024-01-11|Completed   |36580.0       |Medium        |
|ORD012  |C012       |Arjun  |delhi    |mobile |electronics|27000|2024-01-11|Completed   |31860.0       |Low           |
|ORD013  |C013       |Nikhil |bangalore|laptop |electronics|60000|2024-01-12|Completed   |70800.0       |High          |
|ORD015  |C015       |Anita  |delhi    |tablet |electronics|29000|2024-01-13|Completed   |34220.0       |Low           |
|ORD016  |C016       |Vikas  |chennai  |laptop |electronics|52000|2024-01-13|Completed   |61360.0       |High          |
|ORD017  |C017       |Sunita |mumbai   |mobile |electronics|33000|2024-01-14|Completed   |38940.0       |Medium        |
|ORD018  |C018       |Deepak |bangalore|laptop |electronics|58000|2024-01-14|Completed   |68440.0       |High          |
|ORD019  |C019       |Pallavi|delhi    |mobile |electronics|26000|2024-01-15|Completed   |30680.0       |Low           |
|ORD020  |C020       |Manish |mumbai   |tablet |electronics|34000|2024-01-15|Completed   |40120.0       |Medium        |
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = false)

8. Remove duplicate orders

In [11]:
df = df.dropDuplicates(["order_id"])
df.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+

9. Filter only Completed orders

In [12]:
df = df.filter(col("order_status")=="Completed")
df.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+

#Data Transformation

10. Create order_year , order_month

In [13]:
df = df.withColumn("order_year", year(col("order_date")))
df = df.withColumn("order_month", month(col("order_date")))
df.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|order_year|order_month|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|      2024|          1|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|      2024|          1|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|      2024|          1|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|      2024|          1|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|      2024|          1|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|      2024|          1|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|      2024|          1|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|      2024|          1|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|      2024|          1|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|      2024|          1|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|      2024|          1|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|      2024|          1|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|      2024|          1|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|      2024|          1|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+

11. Aggregate total revenue per city

In [14]:
from pyspark.sql.functions import sum, aggregate
revenue_city = df.groupBy("city").agg(sum("price").alias("total_revenue"))
revenue_city.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|  chennai|        83000|
|    delhi|       172000|
|bangalore|       203000|
|   mumbai|       154000|
|     pune|        28000|
+---------+-------------+

12. Aggregate total revenue per product

In [15]:
revenue_product = df.groupBy("product").agg(sum("price").alias("total_revenue"))
revenue_product.show()

+-------+-------------+
|product|total_revenue|
+-------+-------------+
| mobile|       146000|
| tablet|       124000|
| laptop|       370000|
+-------+-------------+

13. Identify top 3 cities by revenue

In [16]:
top_cities = revenue_city.orderBy(col("total_revenue").desc()).limit(3)
top_cities.show()

+---------+-------------+
|     city|total_revenue|
+---------+-------------+
|bangalore|       203000|
|    delhi|       172000|
|   mumbai|       154000|
+---------+-------------+

14. Identify products with average price above threshold

In [17]:
high_avg_price = df.groupBy("product").agg(avg("price").alias("avg_price"))\
.filter(col("avg_price")>30000)
high_avg_price.show()

+-------+------------------+
|product|         avg_price|
+-------+------------------+
| tablet|           31000.0|
| laptop|52857.142857142855|
+-------+------------------+

#File Format Operations

In [18]:
num_partitions = df.rdd.getNumPartitions()
print(f"Number of partitions: {num_partitions}")

Number of partitions: 1

In [19]:
df = df.repartition(4)

15. Write cleaned data to Parquet

In [20]:
df.write.mode("overwrite").parquet("/tmp/retail_orders_parquet")

16. Read Parquet back and verify schema

In [21]:
parquet_df = spark.read.parquet("/tmp/retail_orders_parquet")
parquet_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- order_status: string (nullable = true)
 |-- price_with_tax: double (nullable = true)
 |-- price_category: string (nullable = true)
 |-- order_year: integer (nullable = true)
 |-- order_month: integer (nullable = true)

In [30]:
df_parquet = spark.read.parquet("/tmp/retail_orders_parquet")
df_parquet.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|order_year|order_month|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|      2024|          1|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|      2024|          1|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|      2024|          1|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|      2024|          1|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|      2024|          1|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|      2024|          1|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|      2024|          1|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|      2024|          1|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|      2024|          1|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|      2024|          1|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|      2024|          1|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|      2024|          1|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|      2024|          1|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|      2024|          1|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|      2024|          1|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+

17. Write the same data to ORC

In [22]:
df.write.mode("overwrite").orc("/tmp/retail_orders_orc")

In [29]:
df_orc = spark.read.orc("/tmp/retail_orders_orc")
df_orc.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|order_year|order_month|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|      2024|          1|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|      2024|          1|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|      2024|          1|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|      2024|          1|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|      2024|          1|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|      2024|          1|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|      2024|          1|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|      2024|          1|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|      2024|          1|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|      2024|          1|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|      2024|          1|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|      2024|          1|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|      2024|          1|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|      2024|          1|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+

18. (Optional) Write to Avro

In [23]:
df.write.mode("overwrite").format("avro").save("/tmp/retail_orders_avro")

In [28]:
df_avro=spark.read.format("avro").load("/tmp/retail_orders_avro")
df_avro.show()

+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|order_id|customer_id|   name|     city|product|   category|price|order_date|order_status|price_with_tax|price_category|order_year|order_month|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+
|  ORD009|       C009|  Priya|     pune| mobile|electronics|28000|2024-01-09|   Completed|       33040.0|           Low|      2024|          1|
|  ORD010|       C010| Suresh|   mumbai| laptop|electronics|55000|2024-01-10|   Completed|       64900.0|          High|      2024|          1|
|  ORD019|       C019|Pallavi|    delhi| mobile|electronics|26000|2024-01-15|   Completed|       30680.0|           Low|      2024|          1|
|  ORD015|       C015|  Anita|    delhi| tablet|electronics|29000|2024-01-13|   Completed|       34220.0|           Low|      2024|          1|
|  ORD002|       C002|  Sneha|   mumbai| mobile|electronics|32000|2024-01-05|   Completed|       37760.0|        Medium|      2024|          1|
|  ORD007|       C007|  Kiran|bangalore| tablet|electronics|30000|2024-01-08|   Completed|       35400.0|        Medium|      2024|          1|
|  ORD011|       C011|  Meena|  chennai| tablet|electronics|31000|2024-01-11|   Completed|       36580.0|        Medium|      2024|          1|
|  ORD013|       C013| Nikhil|bangalore| laptop|electronics|60000|2024-01-12|   Completed|       70800.0|          High|      2024|          1|
|  ORD001|       C001|   Ravi|    delhi| laptop|electronics|45000|2024-01-05|   Completed|       53100.0|        Medium|      2024|          1|
|  ORD012|       C012|  Arjun|    delhi| mobile|electronics|27000|2024-01-11|   Completed|       31860.0|           Low|      2024|          1|
|  ORD020|       C020| Manish|   mumbai| tablet|electronics|34000|2024-01-15|   Completed|       40120.0|        Medium|      2024|          1|
|  ORD018|       C018| Deepak|bangalore| laptop|electronics|58000|2024-01-14|   Completed|       68440.0|          High|      2024|          1|
|  ORD016|       C016|  Vikas|  chennai| laptop|electronics|52000|2024-01-13|   Completed|       61360.0|          High|      2024|          1|
|  ORD017|       C017| Sunita|   mumbai| mobile|electronics|33000|2024-01-14|   Completed|       38940.0|        Medium|      2024|          1|
|  ORD003|       C003|   Aman|bangalore| laptop|electronics|55000|2024-01-06|   Completed|       64900.0|          High|      2024|          1|
|  ORD008|       C008|   Amit|    delhi| laptop|electronics|45000|2024-01-09|   Completed|       53100.0|        Medium|      2024|          1|
+--------+-----------+-------+---------+-------+-----------+-----+----------+------------+--------------+--------------+----------+-----------+

#Performance & Validation

19. Check number of partitions

In [24]:
num_partitions = df.rdd.getNumPartitions()
print(f"Number of partitions: {num_partitions}")

Number of partitions: 4

20. Repartition before writing

In [25]:
df = df.repartition(4)

21. Compare file counts between Parquet and ORC

In [26]:
import os

parquet_path = "/tmp/retail_orders_parquet"
orc_path = "/tmp/retail_orders_orc"

def count_data_files(path):
    if not os.path.exists(path):
        return 0
    files = os.listdir(path)
    # Filter out Spark's metadata files like _SUCCESS, _common_metadata, _metadata
    data_files = [f for f in files if not f.startswith('_')]
    return len(data_files)

parquet_file_count = count_data_files(parquet_path)
orc_file_count = count_data_files(orc_path)

print(f"Number of Parquet data files: {parquet_file_count}")
print(f"Number of ORC data files: {orc_file_count}")

Number of Parquet data files: 9
Number of ORC data files: 9

22. Run explain(True) on final pipeline

In [27]:
df.explain(True)

== Parsed Logical Plan ==
Repartition 4, true
+- Repartition 4, true
   +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, order_date#248, order_status#45, price_with_tax#75, price_category#107, order_year#539, month(order_date#248) AS order_month#540]
      +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, order_date#248, order_status#45, price_with_tax#75, price_category#107, year(order_date#248) AS order_year#539]
         +- Filter (order_status#45 = Completed)
            +- Deduplicate [order_id#37]
               +- Filter isnotnull(order_date#248)
                  +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, cast(coalesce(try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false)) as date) AS order_date#248, order_status#45, price_with_tax#75, price_category#107]
                     +- Filter isnotnull(price#179)
                        +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, cast(price#74 as int) AS price#179, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                           +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, trim(lower(category#42), None) AS category#144, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                              +- Project [order_id#37, customer_id#38, name#39, city#142, trim(lower(product#41), None) AS product#143, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                                 +- Project [order_id#37, customer_id#38, name#39, trim(lower(city#40), None) AS city#142, product#41, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                                    +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, CASE WHEN (price#74 < cast(30000 as double)) THEN Low WHEN ((price#74 >= cast(30000 as double)) AND (price#74 <= cast(50000 as double))) THEN Medium ELSE High END AS price_category#107]
                                       +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#74, order_date#44, order_status#45, (price#74 * 1.18) AS price_with_tax#75]
                                          +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, CASE WHEN RLIKE(price#43, ^[0-9]+$) THEN cast(price#43 as double) ELSE cast(null as double) END AS price#74, order_date#44, order_status#45]
                                             +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#8 AS order_status#45]
                                                +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#43, order_date#7 AS order_date#44, order_status#8]
                                                   +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#6 AS price#43, order_date#7, order_status#8]
                                                      +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#5 AS category#42, price#6, order_date#7, order_status#8]
                                                         +- Project [order_id#37, customer_id#38, name#39, city#40, product#4 AS product#41, category#5, price#6, order_date#7, order_status#8]
                                                            +- Project [order_id#37, customer_id#38, name#39, city#3 AS city#40, product#4, category#5, price#6, order_date#7, order_status#8]
                                                               +- Project [order_id#37, customer_id#38, name#2 AS name#39, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                  +- Project [order_id#37, customer_id#1 AS customer_id#38, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                     +- Project [order_id#0 AS order_id#37, customer_id#1, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                        +- LogicalRDD [order_id#0, customer_id#1, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8], false

== Analyzed Logical Plan ==
order_id: string, customer_id: string, name: string, city: string, product: string, category: string, price: int, order_date: date, order_status: string, price_with_tax: double, price_category: string, order_year: int, order_month: int
Repartition 4, true
+- Repartition 4, true
   +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, order_date#248, order_status#45, price_with_tax#75, price_category#107, order_year#539, month(order_date#248) AS order_month#540]
      +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, order_date#248, order_status#45, price_with_tax#75, price_category#107, year(order_date#248) AS order_year#539]
         +- Filter (order_status#45 = Completed)
            +- Deduplicate [order_id#37]
               +- Filter isnotnull(order_date#248)
                  +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, price#179, cast(coalesce(try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(dd-MM-yyyy), TimestampType, Some(Etc/UTC), false), try_to_timestamp(regexp_replace(trim(cast(order_date#44 as string), None), [./], -, 1), Some(MM-dd-yyyy), TimestampType, Some(Etc/UTC), false)) as date) AS order_date#248, order_status#45, price_with_tax#75, price_category#107]
                     +- Filter isnotnull(price#179)
                        +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, category#144, cast(price#74 as int) AS price#179, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                           +- Project [order_id#37, customer_id#38, name#39, city#142, product#143, trim(lower(category#42), None) AS category#144, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                              +- Project [order_id#37, customer_id#38, name#39, city#142, trim(lower(product#41), None) AS product#143, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                                 +- Project [order_id#37, customer_id#38, name#39, trim(lower(city#40), None) AS city#142, product#41, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, price_category#107]
                                    +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#74, order_date#44, order_status#45, price_with_tax#75, CASE WHEN (price#74 < cast(30000 as double)) THEN Low WHEN ((price#74 >= cast(30000 as double)) AND (price#74 <= cast(50000 as double))) THEN Medium ELSE High END AS price_category#107]
                                       +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#74, order_date#44, order_status#45, (price#74 * 1.18) AS price_with_tax#75]
                                          +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, CASE WHEN RLIKE(price#43, ^[0-9]+$) THEN cast(price#43 as double) ELSE cast(null as double) END AS price#74, order_date#44, order_status#45]
                                             +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#43, order_date#44, order_status#8 AS order_status#45]
                                                +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#43, order_date#7 AS order_date#44, order_status#8]
                                                   +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#42, price#6 AS price#43, order_date#7, order_status#8]
                                                      +- Project [order_id#37, customer_id#38, name#39, city#40, product#41, category#5 AS category#42, price#6, order_date#7, order_status#8]
                                                         +- Project [order_id#37, customer_id#38, name#39, city#40, product#4 AS product#41, category#5, price#6, order_date#7, order_status#8]
                                                            +- Project [order_id#37, customer_id#38, name#39, city#3 AS city#40, product#4, category#5, price#6, order_date#7, order_status#8]
                                                               +- Project [order_id#37, customer_id#38, name#2 AS name#39, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                  +- Project [order_id#37, customer_id#1 AS customer_id#38, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                     +- Project [order_id#0 AS order_id#37, customer_id#1, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8]
                                                                        +- LogicalRDD [order_id#0, customer_id#1, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8], false

== Optimized Logical Plan ==
Repartition 4, true
+- Project [order_id#0, customer_id#1641, name#1643, city#1645, product#1647, category#1649, price#1651, order_date#1653, order_status#1655, price_with_tax#1657, price_category#1659, year(order_date#1653) AS order_year#539, month(order_date#1653) AS order_month#540]
   +- Filter (isnotnull(order_status#1655) AND (order_status#1655 = Completed))
      +- Aggregate [order_id#0], [order_id#0, first(customer_id#1, false) AS customer_id#1641, first(name#2, false) AS name#1643, first(city#142, false) AS city#1645, first(product#143, false) AS product#1647, first(category#144, false) AS category#1649, first(price#179, false) AS price#1651, first(order_date#248, false) AS order_date#1653, first(order_status#8, false) AS order_status#1655, first(price_with_tax#75, false) AS price_with_tax#1657, first(price_category#107, false) AS price_category#1659]
         +- Project [order_id#0, customer_id#1, name#2, trim(lower(city#3), None) AS city#142, trim(lower(product#4), None) AS product#143, trim(lower(category#5), None) AS category#144, cast(price#74 as int) AS price#179, cast(coalesce(gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date#248, order_status#8, (price#74 * 1.18) AS price_with_tax#75, CASE WHEN (price#74 < 30000.0) THEN Low WHEN ((price#74 >= 30000.0) AND (price#74 <= 50000.0)) THEN Medium ELSE High END AS price_category#107]
            +- Project [order_id#0, customer_id#1, name#2, city#3, product#4, category#5, CASE WHEN RLIKE(price#6, ^[0-9]+$) THEN cast(price#6 as double) END AS price#74, order_date#7, order_status#8]
               +- Filter (CASE WHEN RLIKE(price#6, ^[0-9]+$) THEN isnotnull(cast(cast(price#6 as double) as int)) ELSE false END AND isnotnull(cast(coalesce(gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date)))
                  +- LogicalRDD [order_id#0, customer_id#1, name#2, city#3, product#4, category#5, price#6, order_date#7, order_status#8], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Exchange RoundRobinPartitioning(4), REPARTITION_BY_NUM, [plan_id=1799]
   +- Project [order_id#0, customer_id#1641, name#1643, city#1645, product#1647, category#1649, price#1651, order_date#1653, order_status#1655, price_with_tax#1657, price_category#1659, year(order_date#1653) AS order_year#539, month(order_date#1653) AS order_month#540]
      +- Filter (isnotnull(order_status#1655) AND (order_status#1655 = Completed))
         +- SortAggregate(key=[order_id#0], functions=[first(customer_id#1, false), first(name#2, false), first(city#142, false), first(product#143, false), first(category#144, false), first(price#179, false), first(order_date#248, false), first(order_status#8, false), first(price_with_tax#75, false), first(price_category#107, false)], output=[order_id#0, customer_id#1641, name#1643, city#1645, product#1647, category#1649, price#1651, order_date#1653, order_status#1655, price_with_tax#1657, price_category#1659])
            +- Sort [order_id#0 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(order_id#0, 200), ENSURE_REQUIREMENTS, [plan_id=1794]
                  +- SortAggregate(key=[order_id#0], functions=[partial_first(customer_id#1, false), partial_first(name#2, false), partial_first(city#142, false), partial_first(product#143, false), partial_first(category#144, false), partial_first(price#179, false), partial_first(order_date#248, false), partial_first(order_status#8, false), partial_first(price_with_tax#75, false), partial_first(price_category#107, false)], output=[order_id#0, first#1680, valueSet#1681, first#1682, valueSet#1683, first#1684, valueSet#1685, first#1686, valueSet#1687, first#1688, valueSet#1689, first#1690, valueSet#1691, first#1692, valueSet#1693, first#1694, valueSet#1695, first#1696, valueSet#1697, first#1698, valueSet#1699])
                     +- Sort [order_id#0 ASC NULLS FIRST], false, 0
                        +- Project [order_id#0, customer_id#1, name#2, trim(lower(city#3), None) AS city#142, trim(lower(product#4), None) AS product#143, trim(lower(category#5), None) AS category#144, cast(price#74 as int) AS price#179, cast(coalesce(gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date) AS order_date#248, order_status#8, (price#74 * 1.18) AS price_with_tax#75, CASE WHEN (price#74 < 30000.0) THEN Low WHEN ((price#74 >= 30000.0) AND (price#74 <= 50000.0)) THEN Medium ELSE High END AS price_category#107]
                           +- Project [order_id#0, customer_id#1, name#2, city#3, product#4, category#5, CASE WHEN RLIKE(price#6, ^[0-9]+$) THEN cast(price#6 as double) END AS price#74, order_date#7, order_status#8]
                              +- Filter (CASE WHEN RLIKE(price#6, ^[0-9]+$) THEN isnotnull(cast(cast(price#6 as double) as int)) ELSE false END AND isnotnull(cast(coalesce(gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), dd-MM-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false), gettimestamp(regexp_replace(trim(order_date#7, None), [./], -, 1), MM-dd-yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false)) as date)))
                                 +- Scan ExistingRDD[order_id#0,customer_id#1,name#2,city#3,product#4,category#5,price#6,order_date#7,order_status#8]