In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder \
.appName('cache') \
.getOrCreate()

In [12]:
data = [
    ("ORD001","Delhi","Laptop",45000),
    ("ORD002","Mumbai","Mobile",32000),
    ("ORD003","Bangalore","Laptop",52000),
    ("ORD004","Delhi","Tablet",28000),
    ("ORD005","Mumbai","Laptop",61000),
    ("ORD006","Chennai","Mobile",30000),
    ("ORD007","Delhi","Laptop",47000),
    ("ORD008","Bangalore","Tablet",35000),
    ("ORD009","Mumbai","Laptop",58000),
    ("ORD010","Delhi","Mobile",29000)
]
column = ["order_id", "city", "product", "amount"]
df = spark.createDataFrame(data, column)
df.show()

+--------+---------+-------+------+
|order_id|     city|product|amount|
+--------+---------+-------+------+
|  ORD001|    Delhi| Laptop| 45000|
|  ORD002|   Mumbai| Mobile| 32000|
|  ORD003|Bangalore| Laptop| 52000|
|  ORD004|    Delhi| Tablet| 28000|
|  ORD005|   Mumbai| Laptop| 61000|
|  ORD006|  Chennai| Mobile| 30000|
|  ORD007|    Delhi| Laptop| 47000|
|  ORD008|Bangalore| Tablet| 35000|
|  ORD009|   Mumbai| Laptop| 58000|
|  ORD010|    Delhi| Mobile| 29000|
+--------+---------+-------+------+

In [13]:
high_value_df = df.filter(df.amount > 30000)

In [14]:
high_value_df.cache()

high_value_df.count()
high_value_df.groupBy("city").sum("amount").show()
high_value_df.groupBy("product").sum("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      87000|
|   Mumbai|     151000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|sum(amount)|
+-------+-----------+
| Laptop|     263000|
| Mobile|      32000|
| Tablet|      35000|
+-------+-----------+

In [15]:
high_value_df.unpersist()

DataFrame[order_id: string, city: string, product: string, amount: bigint]

All these queries hitting the cache as it is easily available.
By adding cache we improve performance by using dataframe.cache(). To remove cache use dataframe.unpersist()

In [16]:
df = df.filter(df.amount > 3000)

In [17]:
df.count()

10

The code df = df.filter(df.amount > 3000).show()   df.count() is intended to return the number of rows in the DataFrame df. However, an AttributeError occurred because in the previous cell, df was inadvertently assigned None. This happened because the .show() method, when used in an assignment like df = df.filter(...).show(), displays the DataFrame but returns None, effectively overwriting your df variable. To fix this, you should remove .show() from the assignment in cell YzltMYimbSnA if you intend to continue working with the filtered DataFrame.